button {
	$submitBackground = linear-gradient(#3c4 0%, #2b3 100%);
	$neutralBackground = linear-gradient(#eee 0%, #d3d3d3 100%);

	background: $submitBackground;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	padding: 2px;

	&[type=button] {
		background: $neutralBackground;
		color: #000;
	}

	&.delete {
		color: #c34;
	}
}
