.article {
	overflow: auto;

	a.fa {
		background-color: #333;
		border-radius: 4px;
		color: #ccc;
		float: right;
		margin: 0.5em;
		padding: 0.5em;
		text-decoration: none;

		&-hourglass {
			cursor: default;
			opacity: 0.5;
		}
	}

	&-title {
		margin: 0;
	}

	&-title,
	&-meta,
	&-container {
		padding: 8px;
	}

	&-meta {
		font-style: italic;
	}

	&-container {
		border-top: 1px solid #ccc;
	}

	img {
		max-width: 100%;
	}
}
