.article {
	overflow: auto;

	&-title {
		margin: 0;
	}

	&-title,
	&-meta,
	&-container {
		padding: 8px;
	}

	&-meta {
		font-style: italic;
	}

	&-container {
		border-top: 1px solid #ccc;
	}

	img {
		max-width: 100%;
	}
}
